html{box-sizing:border-box}*,
::after,
::before{box-sizing:inherit}a,
body{
    color:#ffffff
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: 'DM Sans', sans-serif;
    max-width: 1440px;
    font-size: 17px;
    font-weight: normal;
    background-color: #191919;
    max-width: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
  }

.body__wrapper {
    padding: 0em 10em 0em 10em;
}

.visually-hidden{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.nav__list,
.intro__music-list {
    list-style-type: none;
}


/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
}
.header__title {
    width: 160px;
    margin: 1px;
    padding-top: 43px;
    padding-left: 51px;
}

.nav__list {
    max-width: 403px;
    display: flex;
    justify-content: space-around;
    padding: 26px 50px 26px 0px;
}

.nav__item {
    margin: 0;
    padding: 20px 40px;
}

.nav__link:hover {
    color: #118DA8;
}

.nav__link:active {
    color: #191919;
}

/*MAIN-intro*/

.intro__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro__image {
    position: relative;
    width: 50%;
}

.intro__image img {
    border-radius: 12px;
}

.intro__content {
    width: 50%;
    padding-left: 60px;
    padding-bottom: 150px;
}

.intro__title {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 3.2px;
}

.intro__title--underline {
    position: relative;
    display: inline-block;
}

.intro__title--underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 11px;
    bottom: 0;
    left: 0;
    background-image: url("../images/underline.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro__title--bold {
    font-weight: 700;
}

.intro__caption {
    display: block;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 24px;
}

.intro__music-list {
    display: flex;
    align-items: center;
}

.intro__music-item:not(:last-child) {
    margin-right: 17px;
}

.intro__music-link {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.music-link--spotify {
    background-image: url("../images/social.svg");
}

.music-link--music3 {
    background-image: url("../images/social1.svg");
}

.music-link--soundcloud {
    background-image: url("../images/social2.svg");
}

.music-link--music1 {
    background-image: url("../images/social3.svg");
}

.music-link--music2 {
    background-image: url("../images/social1.svg");
}